*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b; 
  width: 10px;
}

html {
  font-size: 90%;
}

  body{
    background: #e1ecf2;
    counter-reset: my-sec-counter;
  }

  .wrapper{
    margin: 2px;
  }
  .wrapper .top_navbar{
    width: calc(100% - 6px);
    height: 55px;
    display: flex;
    top: 0px;
    position: fixed;
    z-index: 11000;
  }
  
  .wrapper .top_navbar .hamburger{
    width: 70px;
    height: 100%;
    background: #FF725E;
    padding: 15px 17px;
    border-top-left-radius: 10px;
    cursor: pointer;
  }

  .wrapper .top_navbar .hamburger div{
    width: 35px;
    height: 4px;
    background: #f7abab;
    margin: 5px 0;
    border-radius: 1px;
  }
  
  .wrapper .top_navbar .top_menu{
    width: calc(100% - 70px);
    height: 100%;
    background: #fff;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }

.wrapper .top_navbar .top_menu .logo i 
{
  color: #FF725E;
  padding-right: .5rem;
}

.wrapper .top_navbar .top_menu  a.logo 
{
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}

.wrapper .user-content
{
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 10rem;
}

.wrapper .user-content ul li a{
  display: block;
  padding: 10px;
  position: relative;
  margin-bottom: 1px;
  font-weight: bolder;
  color: #fa8e8e;
  white-space: nowrap;
}

.wrapper .user-content.active 
{
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.wrapper .top_navbar .top_menu ul{
    display: flex;
  }
  
  .wrapper .top_navbar .top_menu ul li a{
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #FF725E;
    border-radius: 50%;
    color: #FF725E;
  }
  
  .wrapper .top_navbar .top_menu ul li a:hover,
  .wrapper .user-content ul li a:hover
  {
    background: #FF725E;
    color: #fff;
  }
  
  .wrapper .top_navbar .top_menu ul li a:hover i{
    color: #fff;
  }

  .wrapper .sidebar{
    position: fixed;
    top: 56px;
    left: 2px;
    background: #FF725E;
    width: 200px;
    height: calc(100% - 58px);
    border-bottom-left-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .wrapper .sidebar ul li a{
      display: block;
      padding: 20px;
      color: #fff;
      position: relative;
      margin-bottom: 1px;
      font-weight: bolder;
      color: #f3bfbf;
      white-space: nowrap;
  }
  
  .wrapper .sidebar ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    font-weight: bolder;
    background: #f3bfbf;
    display: none;
  }

  .wrapper .sidebar ul li a span.icon, .wrapper .user-content ul li a span.icon{
    margin-right: 10px;
    display: inline-block;
  }
  
  .wrapper .sidebar ul li a span.title{
    display: inline-block;
  }
  
  .wrapper .sidebar ul li a:hover,
  .wrapper .sidebar ul li a.active{
    background: #f7abab;
    color: #fff;
  }
  
  .wrapper .sidebar ul li a:hover:before,
  .wrapper .sidebar ul li a.active:before{
    display: block;
  }

  .wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #ff725e;
    font-size: 13px;
    color: black;
    padding: 7px;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #4c5464cc;
    padding-top: 50px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  p {
    padding: 10px;
  }
    
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 407px;
    top: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f66969;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  section.header{
    display: block;
    margin-left: 210px;
    margin-top: 62px;
    background: #f1f1f1;
    transition: all 0.3s ease;
  }

  form.content{
    position: relative;
    overflow: auto;
    padding: 1.5rem;
    background: #fcfcfc;
    border-radius: 8px;
  }


  section {
    padding: 1rem 1rem;
  }

  .wrapper.collapse section.main_conatiner, 
  .wrapper.collapse section.header, .wrapper.collapse section.button,
  .wrapper.collapse .addfield {
    margin-left: 78px;
    width: auto;
}

.credit {
  background: #f5f5f5;
  color: #222;
  margin: 150px 200px 0px;
  font-size: 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  width: 87%;
  transition: all 0.3s ease;
}

.wrapper.collapse .credit{
  width: 95.5%;
  margin-left: 70px;
}

.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
  height: 30px;
  border: none;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #ff725e;
  font-size: 13px;
  color: black;
  padding: 7px;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #4c5464cc;
  padding-top: 50px;
  z-index: 3;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

p {
  padding: 10px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 407px;
  top: 60px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f66969;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.addfield {
  background: #FFF;
  margin-left: 200px;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.wrapper.collapse .content {
  transition: all 0.3s ease;
}


@media(max-width: 991px){

    html {
      font-size: 55%;
    }
  
    section{
      padding: 1rem 2rem;
    }
  
    .wrapper .sidebar{
      width: 120px;
    }
  
    .wrapper .top_navbar .top_menu ul li a{
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin: 0px 2px;
    }
  
    .wrapper .sidebar ul li a{
      padding: 15px;
    }

    .wrapper.collapse .sidebar ul li a{
      font-size: 15px;
    }

    section.main_conatiner{
      margin-left: 120px;
      height: 73rem;
    }

    .credit, section.header{
      width: 75.5%;
      margin-left: 120px;
    }

    .wrapper.collapse .credit {
      margin-left: 55px;
    }

    .wrapper.collapse .content {
      margin-left: 70px;
    }

    .wrapper .content {
      margin-left: 115px;
    }
}