*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

    /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b; 
}

html {
  font-size: 90%;
}

  body{
    background: #e1ecf2;
  }

  .wrapper{
    margin: 2px;
  }
  .wrapper .top_navbar{
    width: calc(100% - 6px);
    height: 55px;
    display: flex;
    top: 0px;
    position: fixed;
    z-index: 11000;
  }
  
  .wrapper .top_navbar .hamburger{
    width: 70px;
    height: 100%;
    background: #FF725E;
    padding: 15px 17px;
    border-top-left-radius: 10px;
    cursor: pointer;
  }

  .wrapper .top_navbar .hamburger div{
    width: 35px;
    height: 4px;
    background: #f7abab;
    margin: 5px 0;
    border-radius: 1px;
  }
  
  .wrapper .top_navbar .top_menu{
    width: calc(100% - 70px);
    height: 100%;
    background: #fff;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }

.wrapper .top_navbar .top_menu .logo i 
{
  color: #FF725E;
  padding-right: .5rem;
}

.wrapper .top_navbar .top_menu  a.logo 
{
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}

.wrapper .user-content
{
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 10rem;
}

.wrapper .user-content ul li a{
  display: block;
  padding: 10px;
  position: relative;
  margin-bottom: 1px;
  font-weight: bolder;
  color: #fa8e8e;
  white-space: nowrap;
}

.wrapper .user-content.active 
{
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.wrapper .top_navbar .top_menu ul{
    display: flex;
  }
  
  .wrapper .top_navbar .top_menu ul li a{
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #FF725E;
    border-radius: 50%;
    color: #FF725E;
  }
  
  .wrapper .top_navbar .top_menu ul li a:hover,
  .wrapper .user-content ul li a:hover
  {
    background: #FF725E;
    color: #fff;
  }
  
  .wrapper .top_navbar .top_menu ul li a:hover i{
    color: #fff;
  }

  .wrapper .sidebar{
    position: fixed;
    top: 56px;
    left: 2px;
    background: #FF725E;
    width: 200px;
    height: calc(100% - 58px);
    border-bottom-left-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .wrapper .sidebar ul li a{
      display: block;
      padding: 20px;
      color: #fff;
      position: relative;
      margin-bottom: 1px;
      font-weight: bolder;
      color: #f3bfbf;
      white-space: nowrap;
  }
  
  .wrapper .sidebar ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    font-weight: bolder;
    background: #f3bfbf;
    display: none;
  }

  .wrapper .sidebar ul li a span.icon, .wrapper .user-content ul li a span.icon{
    margin-right: 10px;
    display: inline-block;
  }
  
  .wrapper .sidebar ul li a span.title{
    display: inline-block;
  }
  
  .wrapper .sidebar ul li a:hover,
  .wrapper .sidebar ul li a.active{
    background: #f7abab;
    color: #fff;
  }
  
  .wrapper .sidebar ul li a:hover:before,
  .wrapper .sidebar ul li a.active:before{
    display: block;
  }

  .wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper .main_container
 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin-left: 200px;
  margin-top: 75px;
  transition: all 0.3s ease;
}

.wrapper .second_container, .third_container 
 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.5rem;
  margin-left: 200px;
  margin-top: -3px;
  transition: all 0.3s ease;
}

section {
  padding: 1rem 15rem;
}

.main_container .item, .second_container .item, .third_container .item
 {
  position: relative;
  height: 15rem;
  overflow: hidden;
  background: #d2d2d2;
  border-radius: 8px;
  text-align: center;
}

/*.main_container .item::after
{
 height: 0;
 left: 0;
 bottom: 0;
 transition-duration: 0.6s;
 width: 100%;
}*/

/*.main_container .item:hover, .second_container .item:hover, .third_container .item:hover{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #fd7d7d;
}*/

.main_container .item:hover, .second_container .item:hover, .third_container .item:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #fd7d7d;
}

.main_container .item .content , .second_container .item .content, .third_container .item .content 
{
  width: 100%;
  position: absolute;
  top: 50%;
  /*left: 2rem;*/
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main_container .item .content h3, .second_container .item .content h3, .third_container .item .content h3 
{
  font-size: 5rem;
  padding-top: .5rem;
  color: #f66969;
}
.main_container .item .content h3:hover,
.second_container .item .content h3:hover, .third_container .item .content h3:hover{
  -webkit-transform: scale(1.5);

          transform: scale(1.2);

}

.main_container .item .content h5, .second_container .item .content h5, .third_container .item .content h5 
{
  font-size: 1.2rem;
  padding-top: .5rem;
  color: #7a0000;
}

.wrapper.collapse .main_container, .wrapper.collapse .second_container, .wrapper.collapse .third_container{
  width: (100% - 70px);
  margin-left: 70px;
}


.credit {
  text-align: center;
  background: #f5f5f5;
  color: #222;
  margin-left: 200px;
  font-size: 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.wrapper.collapse .credit{
  margin-left: 70px;
}

.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
  height: 30px;
  border: none;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #ff725e;
  font-size: 13px;
  color: black;
  padding: 7px;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #4c5464cc;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

p {
  padding: 10px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 407px;
  top: 60px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f66969;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.swal-button {
  display: none;
}


@-webkit-keyframes fadeLeft 
{
  0% 
  {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeLeft 
{
  0%
   {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@-webkit-keyframes fadeUp 
{
  0%
   {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeUp 
{
  0% 
  {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@media(max-width: 991px){

  html {
    font-size: 55%;
  }

  section{
    padding: 1rem 2rem;
  }

  .wrapper .sidebar{
    width: 120px;
  }

  .wrapper .top_navbar .top_menu ul li a{
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0px 2px;
  }

  .wrapper .sidebar ul li a{
    padding: 15px;
  }

  .wrapper .main_container, 
  .wrapper .second_container, .wrapper .third_container, .credit
 {
   margin-left: 120px;
 }

 .wrapper.collapse .sidebar ul li a{
   font-size: 15px;
 }
}
